.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
button{
    margin: 10px;
}